.dropdown {
  .dropdown-content-news {
    background-image: url(./bg/menu-news-news.jpg);
    background-size: cover;
    height: 40vh;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      z-index: 1;
    }

    &:hover .overlay-left {
      background-color: rgba(0, 0, 0, 0.745)
    }
    .overlay-left {
      width: 33%;
      height: 40vh;
       background-color: rgba(0, 0, 0, 0.5);
      
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .dropdown-content-press {
    background-image: url("./bg/menu-news-press.jpg");
    background-size: cover;
    height: 40vh;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      z-index: 1;
    }

    &:hover .overlay-center {
      background-color: rgba(0, 0, 0, 0.745)
    }
    .overlay-center {
      width: 33%;
      height: 40vh;
      background-color: rgba(0, 0, 0, 0.5);
      
      position: absolute;
      top: 0;
      left: 33%;
    }
  }
  .dropdown-content-top {
    background-image: url(./bg/menu-news-on-top.jpg);
    background-size: cover;
    height: 40vh;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
      z-index: 1;
    }

    &:hover .overlay-right {
      background-color: rgba(0, 0, 0, 0.745)
    }
    .overlay-right{
        width: 33%;
      height: 40vh;
      background-color: rgba(0, 0, 0, 0.5);
      
      position: absolute;
      top: 0;
      right: 0; 
    }
  }
}
